<h1>Pirate</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  </div>
<% end %>


<%# <h2>Ship 1</h2>
<p>Ship 1 Name: <%= @ship.name %>
<%# <p>Ship 1 Type: <%= @ship.type %>
<%# <p>Ship 1 Booty: <%= @ship.booty %>

<%# <h2>Ship 2</h2> %>
<%# <p>Ship 2 Name: <%= @ship.name %>
<%# <p>Ship 2 Type: <%= @ship.type %>
<%# <p>Ship 2 Booty: <%= @ship.booty %>
